{% extends 'main/base.html' %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form action="{% url 'create_output' %}" method='post' enctype="multipart/form-data">
    {%csrf_token%}
    <div class="w-full max-w-4xl">
        <div class="px-6 py-4 grid gap-6 md:grid-cols-2">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Исходящий номер</label>
                <p>{{ form.number }}</p>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Исходящая дата</label>
                <p>{{ form.data }}</p>
            </div>
        </div>
        <div class="px-6 py-4 mb-6 flex flex-row gap-6">
            <div class="basis-3/4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Краткое содержание</label>
                <p>{{ form.info }}</p>
            </div>
            <div class="basis-1/4">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Входящий номер</label>
                <p>{{ form.input }}</p>
            </div>
        </div>
        <div class="px-6 py-4 grid gap-6">
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Получатель</label>
                    <p id="select">{{form.subject}}</p>
                </div>
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Адрес</label>
                    <p class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Пока пусто</p>
                </div>
        </div>
        <div class="px-6 py-2 grid gap-6 mb-10 md:grid-cols-3">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Телефон</label>
                <label class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Пока пусто</label>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
                <label class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Пока пусто</label>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ИНН</label>
                <label class="bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">Пока пусто</label>
            </div>
        </div>
        <div class="px-6 py-4 mb-20 grid gap-6 md:grid-cols-2">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Вложение</label>
                {{form.doc}}
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Исполнитель</label>
                <p>{{form.author}}</p>
            </div>
        </div>
    </div>
    <button type="submit" class="px-10 py-2.5 ml-6 text-white bg-blue-500 hover:bg-blue-800 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Сохранить</button>
</form>

{% endblock %}

